body {
  margin: 0;
  padding: 0;
}

/* reset */
ul {
  list-style-type: none;
  padding: 0;
}

/* utility*/
.content_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100vw;
  height: 100vh;
}

main {
  grid-column: 1/6;
  grid-row: 1/8;
}

footer {
  grid-column: 1/6;
  grid-row: 8;
  border-top: 3px solid #000;
}

/* nav */

nav {
  grid-column: 6;
  grid-row: 1/9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 20px 0;
  border-left: 3px solid #000;
}

nav .logo {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  border-radius: 50%;
  line-height: 80px;
}

.profile_list,
.game_list {
  text-align: center;
  padding: 20px 0;
}

.profile_list li,
.game_list li {
  padding: 8px;
  margin: 8px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}
